.tabla-profesional {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse; /* Esto une las líneas del cuadro */
    background-color: #0d0d0d;
    color: white;
}

.tabla-profesional th, .tabla-profesional td {
    border: 1px solid #d4af37; /* Borde dorado para que combine con el logo */
    padding: 15px;
    text-align: center;
}

.tabla-profesional th {
    background-color: #d4af37;
    color: black;
    text-transform: uppercase;
}

.hora {
    font-weight: bold;
    color: #d4af37;
}
