/* ESTILO SEGURO - SOLO COLORES, TIPOGRAFÍA Y TAMAÑOS */

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    background-color: #d4af37; /* El dorado King */
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

h1, h2 {
    color: #d4af37;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

table {
    color: white;
    font-size: 18px;
}

th {
    color: #d4af37;
}

footer {
    color: #666;
    font-size: 12px;
}